body{
    margin: 0;
    padding: 0;
    background-color: rgb(153, 195, 209);
    font-family: 'Times New Roman', Times, serif;
    font-size: 25px;

}
header{
    background-color: white;
    display: flex;
    padding: 10px 40px;
    justify-content: space-between;
    width: 100%;
    box-sizing: border-box;
    position: fixed;
}
.header_logo{
    display: flex;
    align-items: center;
    gap: 20px;
}
.img_logo img{
    border-radius: 50%;
    width: 50px;
    height: 50px;
    border: 2px solid gray;
}
.header_logo span {
    font-weight: bold;
}
nav ul{
    display: flex;
    list-style: none;
    gap: 40px;
}
li a{
    text-decoration: none;
    text-transform: uppercase;/* mettre le texte en majuscule*/
    font-size: 16px;
    color: black;
    font-weight: bold;
}
section{
    padding: 50px 50px;
}
h1{
    text-align: center;
}
#home{
padding: 100px;
text-align: center;
background-image: url("image/bfond.jpg");
}
p{
    line-height: 1.25em;
}
.div-lien a{
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    background-color: blueviolet;
    border-radius: 5px;
    padding: 25px;
    font-weight: bold;
    width: 25%;
    display: inline-block;
}
 section hr{
    width: 5%;
    height: 10px;
    background-color: blueviolet;
    border-radius: 5px;
}
.section-content {
display: flex;
gap: 250px;
margin-bottom: 3%;
}
.section-content p{
    text-align: justify;
}
.section-content-right span{
    font-weight: bold;
    padding: 15px;
    background-color: lightgray;
    gap: 20px;
    margin: 1%;
    border-radius: 10px;
}
.classe-competence{
display: flex;
flex-wrap: wrap;
}
.section-content-left{
    width: 400px;
    height: 300px;
    border-radius: 15px;
}
#A-Propos
{
    background-color: whitesmoke;
}
.heading{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.chat{
    position: fixed;
    bottom: 25px;
    right: 50px;
}
.div-lien1{
    text-transform: uppercase;
    background-color: blueviolet;
    border-radius: 15px;
    padding: 25px;
    font-weight: bold;
    width: 50%;
}
.btn-contact{
    text-decoration: none;
    color: white;
}
#projets{
    background-color: white;
}
.wilsonport{
    display: flex;
    align-items: flex-start;
    gap: 200px;
    text-align: right;
    box-sizing: border-box;
}
.case_study{
    text-transform: uppercase;
    background-color: blueviolet;
    border-radius: 15px;
    padding: 25px;
    font-weight: bold;
    width: 50%;
    text-decoration: none;
    color: white;
    text-align: left;
}
footer{
    background-color: black;
    display: flex;
    padding: 10px 40px;
    justify-content: space-between;
    width: 100%;
    box-sizing: border-box;
}
.footer-left{
    color: white;
    
}
.footer-right{
color: white;
}
.footer-total{
    display: flex;
}
.text p{
    text-align: justify;
}
form{
    align-items: center;

}
form{
    padding: 10px;
    flex-direction: column;
    box-shadow: gainsboro 0 10px 15px;
    width: 70%;
}
.form-group{
    margin-left: 20px;
}
.form-group input,textarea{
    width: 90%;
    padding: 10px;
    margin: 5px;
    background-color: lightgray;
    border-radius: 10px;
    border: lightgray 2px s;
}
.text p{
    color: orange;
}